div.colleges
{
    display: inline-flex;
    justify-content: center;
    height: auto;
    align-items: center;
    width: auto;
}

div#about img
{
    width: 15%;
    height: 20%;
    border-radius: 20px;
    padding: 20px;
}

div#about div.colleges p
{
    font-size: 20px;
}